@charset "utf-8";
/* CSS Document */





*{
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
  /* background: url("Images/img_01.jpg")*/
   
}

*::selection{
   background-color: #03045e;
   color: #caf0f8;
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: #03045e;
}


html{
	font-size: 62.5%;
	overflow-x: hidden;
	
}

body{
	background-color: white;
	/*background: url("images/cool-background.png")*/
}

.logo{
	transition: transform 0.5s;
}

.logo:hover{
	transform: translateY(-10px);
}

section{
	padding: 3rem 2rem;
}


.title{
	text-align: center;
	margin-bottom: 2rem;
	text-transform: uppercase;
	color: #03045e;
	font-size: 2.5rem;
	
}


.empty{
	padding: 1.5rem;
	text-align: center;
	border: .1rem solid #caf0f8;
	background-color: #caf0f8;
	color: red;
	font-size: 1.5rem;
}


.message{
	position: sticky;
	top: 0;
	margin: 0 auto;
	max-width: 1200px;
	background-color: white;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10000;
	gap: 1.5rem;
}

.message span{
	font-size: 2rem;
	color: #03045e;
}

.message i{
	cursor: pointer;
	color: #0077b6;
	font-size: 2rem;
}

.message i:hover{
	color: #03045e;
	transform: rotate(90deg)
	
}

.btn,
.option-btn,
.delete-btn,
.white-btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1rem 3rem;
   cursor: pointer;
   color: #caf0f8;
   font-size: 1.5rem;
   border-radius: .5rem;
   text-transform: capitalize;
	font-family: 'Rubik', sans-serif;
}

.btn:hover{
   background-color: steelblue;
}


.option-btn:hover{
   background-color: orange;
}


.delete-btn:hover{
   background-color: firebrick;
}
.white-btn,
.btn{
   background-color: #03045e;
	font-family: 'Rubik', sans-serif;
}


.option-btn{
   background-color: #03045e;
	font-family: 'Rubik', sans-serif;
}

.delete-btn{
   background-color: #03045e;
	font-family: 'Rubik', sans-serif;
}

.white-btn:hover{
   background-color:#caf0f8;
   color: #03045e;
}


.heading{
	min-height: 50vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("Images/MK-Building.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.heading h3{
	font-size: 4rem;
	color: #caf0f8;
	text-transform: uppercase;
}

.heading p{
	font-size: 2.5rem;
	color: #caf0f8;
	
}

.heading p a{
	color:#caf0f8;
	
}

.heading p a:hover{
	
	text-decoration: underline;
}



@keyframes fadeIn{
	0%{
		transform: translateY(1rem);
		opacity: .2s;
	}
}
.form-container{
	min-height: 100vh;
	background-color: #fbfff1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}



.form-container form{
	padding: 2rem;
	width: 50rem;
	border-radius: .5rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	background-color: #caf0f8;
	text-align: center;
	transition: transform 0.5s;
}

.form-container form:hover{
	transform: translateY(-10px);
}



.form-container form h3{
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	color: #03045e;
}

.form-container form .formbox{
	width: 100%;
	border-radius: .5rem;
	background-color: #fbfff1;
	padding: 1.2rem 1.4rem;
	font-size: 1.5rem;
	color: #03045e;
	border: .1rem solid #caf0f8;
	margin: 1rem 0;
}

.form-container form p{
	padding-top: 1.5rem;
	font-size: 1.5rem;
	color: #03045e;
}

.form-container form p a{
	color: #03045e;
}

.form-container form p a:hover{
	text-decoration: underline;
}

.form-container form textarea{
	height: 20rem;
	resize: none;
}


.header .header-1{
   background-color: white;
}

.header .header-1 .flex{
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin:0 auto;
}

.header .header-2{
   background-color: #caf0f8;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}



.header .header-2.active{
   position: fixed;
   top:0; left:0; right:0;
   z-index: 1000;
}

.header .header-2 .flex{
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   margin:0 auto;
   position: relative;
}

.header .header-1 .flex .share a{
   font-size: 2.5rem;
   margin-right: 1.5rem;
   color: #0077b6;
}

.header .header-1 .flex .share a:hover{
   color: #03045e;
}

.header .header-1 .flex p{
   font-size: 2rem;
   color:var #fbfff1;
}

.header .header-1 .flex p a{
   color: #03045e;
}

.header .header-1 .flex p a:hover{
   text-decoration: underline;
}

.header .header-2 .flex .logo{
   font-size: 2.5rem;
   color: #03045e;
}

.header .header-2 .flex .logo span{
   font-size: 2.5rem;
   color: #0077b6;
}

.header .header-2 .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color: #0077b6;

}

.header .header-2 .flex .navbar a:hover{
   color: #03045e;
   text-decoration: underline;
}

.header .header-2 .flex .icons > *{
   font-size: 2.5rem;
   color: #0077b6;
   cursor: pointer;
   margin-left: 1.5rem;
	transition: transform 0.5s;
}

.header .header-2 .flex .icons > *:hover{
   color: #03045e;
	transform: translateY(-10px);
}

#user-btn{
	transition: transform 0.5s;
}

#user-btn:hover{
	transform: translateY(-10px);
}

#cart-btn{
	transition: transform 0.5s;
}

#cart-btn:hover{
	transform: translateY(-10px);
}

#menu-btn{
   display: none;
}

.header .header-2 .flex .user-box{
   position: absolute;
   top:120%; right:2rem;
   background-color: white;
   border-radius: .5rem;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border:.1rem solid white;
   padding:2rem;
   text-align: center;
   width: 30rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .header-2 .flex .user-box.active{
   display: inline-block;
}

.header .header-2 .flex .user-box p{
   font-size: 1.4rem;
   color: #03045e;
   margin-bottom: 1.5rem;
}

.header .header-2 .flex .user-box p span{
   color: darkslategrey;
}

.header .header-2 .flex .user-box .delete-btn{
   margin-top: 0;
}


.home{
	min-height: 70vh;
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url("Images/img_01.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home .content{
	text-align: center;
	width: 70rem;
}

.home .content h3{
	font-size: 5rem;
	color: #caf0f8;
	text-transform: uppercase;
}

.home .content p{
	font-size: 2rem;
	color: #fbfff1;
	padding: 1rem 0;
	line-height: 2;
}

.products .box-container{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 30rem);
	align-items: flex-start;
	gap: 3rem;
	justify-content: center;
}


.products .box-container{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 30rem);
	align-items: flex-start;
	gap: 3rem;
	justify-content: center;
}


.products .box-container .box{
	border-radius: .5rem;
	background-color: #caf0f8;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	padding: 2rem;
	text-align: center;
	border: .1rem solid #caf0f8;
	position: relative;
	transition: transform 0.5s;
}




.products .box-container .box:hover{
	transform: translateY(-10px);
}

.products .box-container .box img{
	height: 30rem;
}

.products .box-container .box .name{
	padding: 1rem 0;
	font-size: 2rem;
	color: #03045e;
}

.products .box-container .box .description{
	padding: 1rem 0;
	font-size: 1.3rem;
	color: darkslategray;
}

.products .box-container .box .qty{
	width: 100%;
	padding: 1.2rem 1.4rem;
	border-radius: .5rem;
	border: .1rem solid darkslategray;;
	margin: 1rem 0;
	font-size: 1.5rem;
}

.products .box-container .box .price{
	position: absolute;
	top: 1rem; left: 1rem;
	border-radius: .5rem;
	padding: .5rem;
	font-size: 1.8rem;
	color: white;
	background-color: red;
}

/*-------------*/
.products .box-container .box{
	border-radius: .5rem;
	background-color: #caf0f8;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	padding: 2rem;
	text-align: center;
	border: .1rem solid #caf0f8;
	position: relative;
	transition: transform 0.5s;
}




.products .box-container .box:hover{
	transform: translateY(-10px);
}

.products .box-container .box img{
	height: 30rem;
}

.products .box-container .box .d_name{
	padding: 1rem 0;
	font-size: 2rem;
	color: #03045e;
}

.products .box-container .box .d_email{
	padding: 1rem 0;
	font-size: 1.5rem;
	color: #03045e;
}

.products .box-container .box .d_specialized_in{
	padding: 1rem 0;
	font-size: 1.5rem;
	color: red;
}


.products .box-container .box .qty{
	width: 100%;
	padding: 1.2rem 1.4rem;
	border-radius: .5rem;
	border: .1rem solid #03045e;;
	margin: 1rem 0;
	font-size: 1.5rem;
}

.products .box-container .box .d_phone_number{
	position: absolute;
	top: 1rem; left: 1rem;
	border-radius: .5rem;
	padding: .5rem;
	font-size: 1.8rem;
	color: #caf0f8;
	background-color: red;
}


.about .flex{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
}

.about .flex .image{
	flex: 1 1 40rem;
	
}


.about .flex .image img{
	width: 100%;
	
}



.about .flex .content{
	flex: 1 1 40rem;
	padding: 2rem;
	background-color: #caf0f8;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .flex .content h3{
	font-size: 3rem;
	color: #03045e;
	text-transform: uppercase;
}


.about .flex .content p{
	padding: 1rem 0;
	line-height: 2;
	font-size: 1.8rem;
	color: #03045e;
}



.home-contact{
	background-color: #0077b6;
}

.home-contact .content{
	max-width: 60rem;
	text-align: center;
	margin: 0 auto; 
}

.home-contact .content h3{
	font-size: 3rem;
	text-transform: uppercase;
	color: #caf0f8;
	
}

.home-contact .content p{
	padding: 1rem 0;
	line-height: 1.5;
	color: #fbfff1;
	font-size: 1.7rem;
}



.banner-contact{
	background-color: #0077b6;
}

.banner-contact .content{
	max-width: 40rem;
	text-align: center;
	margin: 0 auto; 
}

.banner-contact .content h3{
	font-size: 2rem;
	text-transform: uppercase;
	color: #caf0f8;
	
}

.banner-contact .content p{
	padding: 1rem 0;
	line-height: 0.5;
	color: #fbfff1;
	font-size: 1.7rem;
}


.achievements{
	background-color: #fbfff1;
}

.achievements .box-container{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	align-items: center;
	gap: 1.5rem;
	justify-content: center;
}

.achievements .box-container .box{
	background-color: white;
	border:.1rem solid white;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	border-radius: .5rem;
	text-align: center;
	padding: 2rem;
	transition: transform 0.5s;
}

.achievements .box-container .box:hover{
	transform: translateY(-10px);
}


.achievements .box-container .box img{
	height: 15rem;
	width: 25rem;
	border-radius: 5%;
}

.achievements .box-container .box p{
	padding: 1rem 0;
	line-height: 2;
	color: #03045e;
	font-size: 1.5rem;
	
}

.achievements .box-container .box .ranks{
	background-color: #fbfff1;
	display: inline-block;
	margin: 5rem 0;
	border-radius: .5rem;
	border: .1rem solid #caf0f8;
	padding: .5rem 1.5rem;
}

.achievements .box-container .box .ranks i{
	font-size: 1.7rem;
	color: goldenrod;
	margin: .1rem;
}

.achievements .box-container .box h3{
	font-size: 2rem;
	color: darkslategray;
	margin-top: 1rem;
}


.serv{
	background-color: #fbfff1;
}

.serv .box-container{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	align-items: center;
	gap: 1.5rem;
	justify-content: center;
}

.serv .box-container .box{
	background-color: white;
	border:.1rem solid white;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	border-radius: .5rem;
	text-align: center;
	padding: 2rem;
	transition: transform 0.5s;
}

.serv .box-container .box:hover{
	transform: translateY(-10px);
}


.serv .box-container .box img{
	height: 10rem;
	width: 10rem;
	border-radius: 5%;
}

.serv .box-container .box p{
	padding: 1rem 0;
	line-height: 2;
	color: #03045e;
	font-size: 1.5rem;
	
}


.serv .box-container .box h3{
	font-size: 2rem;
	color: darkslategray;
	margin-top: 1rem;
}

.aboutus-contactus{
	background-color: #fbfff1;
}

.aboutus-contactus .box-container{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	align-items: center;
	gap: 1.5rem;
	justify-content: center;
}

.aboutus-contactus .box-container .box{
	background-color: white;
	border:.1rem solid white;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	border-radius: .5rem;
	text-align: center;
	padding: 2rem;
	transition: transform 0.5s;
}

.aboutus-contactus .box-container .box:hover{
	transform: translateY(-10px);
}



.aboutus-contactus .box-container .box p{
	padding: 1rem 0;
	line-height: 2;
	color: #03045e;
	font-size: 1.5rem;
	
}


.aboutus-contactus .box-container .box h3{
	font-size: 2rem;
	color: darkslategray;
	margin-top: 1rem;
}


.contact form{
	margin: 0 auto;
	background-color: #caf0f8;
	border-radius: .5rem;
	border:.1rem solid #fbfff1;
	padding: 2rem;
	max-width: 50rem;
	text-align: center;
	transition: transform 0.5s;
}



.contact form:hover{
	transform: translateY(-10px);
}



.contact form h3{
	font-size: 2.5rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
	color: #03045e;
}

.contact form .formbox{
	margin: 1rem 0;
	width: 100%;
	border: .1rem solid #caf0f8;
	background-color: #fbfff1;
	padding: 1.2rem 1.4rem;
	font-size: 1.5rem;
	color: #03045e;
	border-radius: .5rem;
}

.contact form textarea{
	height: 20rem;
	resize: none;
}


.shopping-cart .box-container{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 30rem);
	align-items: center;
	gap: 1.5rem;
	justify-content: center;
}

.shopping-cart .box-container .box{
	text-align: center;
	padding: 2rem;
	border-radius: .5rem;
	background-color: #caf0f8;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	position: relative;
	border:.1rem solid #fbfff1;
}


.shopping-cart .box-container .box

{
	transition: transform 0.5s;

}


.shopping-cart .box-container .box:hover{
	transform: translateY(-10px);
}



.shopping-cart .box-container .box .fa-times{
	position: absolute;
	top: 1rem; right: 1rem;
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	font-size: 2rem;
	background-color: red;
	color: #caf0f8;
	border-radius: .5rem;
}

.shopping-cart .box-container .box .fa-times:hover{
	background-color: #03045e;
}


.shopping-cart .box-container .box img{
	height: 30rem;
}

.shopping-cart .box-container .box .name{
	padding: 1rem 0;
	font-size: 2rem;
	color: #03045e;
}


.shopping-cart .box-container .box .price{
	padding: 1rem 0;
	font-size: 2.5rem;
	color: red;
}

.shopping-cart .box-container .box .qty{
	width: 100%;
	padding: 1.2rem 1.4rem;
	border-radius: .5rem;
	border: .1rem solid #03045e;;
	margin: 1rem 0;
	font-size: 1.5rem;
}

.shopping-cart .box-container .box .input[type="number"]{
	margin: .5rem 0;
	border:.1rem solid #03045e;
	border-radius: .5rem;
	padding: 1.2rem 1.4rem;
	font-size: 2rem;
	color: #03045e;
	
	width: 10rem;
	
}

.shopping-cart .box-container .box .sub-total{
	padding-top: 1.5rem;
	font-size: 1.8rem;
	color: grey;
}

.shopping-cart .box-container .box .sub-total span{
	color: red;
}


.shopping-cart .cart-total{
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
	border:.1rem solid #caf0f8;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	padding: 2rem;
	text-align: center;
	margin-top: 2rem;
	border-radius: .5rem;
}


.shopping-cart .cart-total p{
	font-size: 2rem;
	color: #03045e;
}


.shopping-cart .cart-total p span{
	color: red;
}

.shopping-cart .cart-total .flex{
	display: flex;
	flex-wrap: wrap;
	column-gap: 1rem;
	margin-top: 1.5rem;
	justify-content: center;
}


.shopping-cart .disabled{
	pointer-events: none;
	opacity: .5;
	user-select: none;
}


.display-order{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 0;
}


.display-order p{
	background-color: #caf0f8;
	color: #03045e;
	font-size: 1.8rem;
	padding: .1rem 1.5rem;
	border: .1rem solid #03045e;
	display: inline-block;
	margin: .5rem;
	border-radius: .5rem;
}


.display-order p span{
	color: red;
}

.display-order .grand-total{
	margin-top: 2rem;
	font-size: 3rem;
	color: grey;
}

.display-order .grand-total span{
	color: red;
}

.checkout form{
	max-width: 1200px;
	padding: 2rem;
	margin: 0 auto;
	border: .1rem solid #caf0f8;
	background-color: #caf0f8;
	border-radius: .5rem;
	transition: transform 0.5s;
}

.checkout form:hover{
	transform: translateY(-10px);
}

.checkout form h3{
	text-align: center;
	margin-bottom: 2rem;
	color: #03045e;
	text-transform: uppercase;
	font-size: 2.5rem;
}

.checkout form .flex{
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	
}

.checkout form .flex .inputBox{
	flex: 1 1 40rem;
}

.checkout form .flex span{
	font-size: 1.5rem;
	color: #03045e;
	
}

.checkout form .flex select,
.checkout form .flex input{
	border: .1rem solid #fbfff1;
	width: 100%;
	border-radius: .5rem;
	background-color: #fbfff1;
	padding: 1.2rem 1.4rem;
	font-size: 1.5rem;
	margin: 1rem 0;
}


.placed-orders .box-container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.5rem;
}


.placed-orders .box-container .box{
	flex: 1 1 40rem;
	border-radius: .5rem;
	border: .1rem solid #fbfff1;
	background-color: #caf0f8;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	padding: 1rem 2rem;
	transition: transform 0.5s;
}

.placed-orders .box-container .box:hover{
	
	transform: translateY(-10px);
}

.placed-orders .box-container .box p{
	padding: 1rem 0;
	font-size: 2rem;
	color: #03045e;
	
	
}

.placed-orders .box-container .box p span{
	color: #03045e;
}

.search-form form{
   max-width: 1200px;
   margin:0 auto;
   display: flex;
   gap:1rem;
}

.search-form form .btn{
   margin-top: 0;
}

.search-form form .formbox{
   width: 100%;
   padding:1.2rem 1.4rem;
   border: .1rem solid #fbfff1;
   font-size: 1.5rem;
   color: #03045e;
   background-color: #caf0f8;
   border-radius: .5rem;
}




















.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.5s;
}

.feature:hover{
	transform: translateY(-10px);
}

.featureIcon {
  width: 3rem;
  height: 3rem;
}

.featureTitle {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5rem;
}

.featureDesc {
  color: #03045e;
  width: 75%;
  height: 6.2rem;
  font-size: 2rem;
}

.feature img{
  height: 10rem;
	width: 10rem;
	border-radius: 25%;
}


.footer{
	background-color: #0077b6;
	/*background-color: #fbfff1;*/
}

.footer .box-container{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 1.5rem;
}

.footer .box-container .box h3{
	text-transform: uppercase;
	color: #03045e;
	font-size: 2.2rem;
}

.footer .box-container .box p, .footer .box-container .box a{
	display: block;
	font-size: 1.8rem;
	color: #caf0f8;
	padding: 1rem 0;
}


.footer .box-container .box p i, .footer .box-container .box a i{
	color: #caf0f8;
	padding-right: .5rem;
	
}

.footer .box-container .box a:hover{
	color: #03045e;
	text-decoration: underline;
}


.footer .box-container .box a:hover i{
	padding-right: 2rem;
}

.footer .box-container .box1 h3{
	text-transform: uppercase;
	color: #03045e;
	font-size: 2.2rem;
}

.footer .box-container .box1 p, .footer .box-container .box1 a{
	display: block;
	font-size: 1.8rem;
	color: #caf0f8;
	padding: 1rem 0;
}


.footer .box-container .box1 p i, .footer .box-container .box1 a i{
	color: #caf0f8;
	padding-right: .5rem;
	
}

.footer .box-container .box1 a:hover{
	color: #03045e;
	text-decoration: underline;
}

.footer .credit{
	text-align: center;
	font-size: 1.8rem;
	color: white;
	border:.1rem solid #0077b6;
	margin-top: 2.5rem;
	padding-top: 2.5rem;
}


.footer .credit span{
	color: #03045e;
}
























/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .header-2 .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: #caf0f8;
      border-top: #caf0f8;
      border-bottom: #caf0f8
      /*clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);*/
   }

   .header .header-2 .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .header-2 .flex .navbar a{
      display: block;
      font-size: 2.5rem;
      margin:2rem;
   }

   .home .content h3{
      font-size: 3.5rem;
   }



@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading h3{
      font-size: 3.5rem;
   }

   .title{
      font-size: 3rem;
   }

}


}